.tarjeta-personalizada {
  background-color: lab(79.09% 37.92 -20.66 / 0.966);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  padding: 15px;
  box-shadow: 4px 4px 4px 4px rgb(236, 134, 245);
  transition: transform 0.2s ease;
}

.tarjeta-personalizada:hover {
  transform: scale(1.03);
}

/* Imagen */
.tarjeta-personalizada img {
  width: 420px;
  height: 330px;
  border-radius: 5px;
  display: block;
  transition: transform 0.3s ease, filter 0.3s ease;
  transform-origin: center;
}

/* Hover sobre imagen */
.tarjeta-personalizada:hover img {
  transform: scale(1.1);
  filter: brightness(0.5);
}

/* Texto interno flotante */
.texto-cuadricula {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: lab(3.76% 0.49 0.66 / 0.959);
  text-align: center;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  padding: 10px;
  color: azure;
}

.tarjeta-personalizada:hover .texto-cuadricula {
  opacity: 1;
  transform: translateY(0);
}